#banner {
  display: flex;
  margin: 0 auto;

}

.container {
  background-color: #69CAC4;
  /* padding-bottom: 100%; */
}

.title {
  color: #007C92;
  text-align: center;
  background-color: #F27975;

}

.row {
  text-align: center;

}

.shark {
  width: 400px;
  height: 275px;
  padding-bottom: 5px;
  display: flex;
  margin: 0 auto;
}

.navigation {
  /* float: left; */
  background-color: #007C92;
  width: 25%;
  padding-top: 5px;

}

a {
  color: #A2CAC3;

}

ul {
  text-align: left;
  list-style-position: inside;

}

body {
  width: 100%;
  height: 100%;
  background-color: #007C92;

}
